<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="js/app.js"></script>

    </head>

    <body>
        <div class="main-content">
             {{>header}}

             <p>This site was created by Laxman Kumar.  It uses geo
                  location data from Mapbox to retrieve 
                 weather information from DarkSky.</p>
             <img class="center" src="/img/me.jpg">
             <p>Use this site to get weather !</p>

        </div>
        
        
        {{>footer}}
    </body>
</html>